
<div class="footer column">
    <div class="flex">
        <div class="footer-content flex space-between">
            <div class="footer-tab gap-05em flex column">
                <small class="margin-0 small">Support</small>
                <div class="tab-list flex column">
                    <p class="margin-0"><strong>FAQ</strong></p>
                    <p class="margin-0"><strong>Contact Us</strong></p>
                    <p class="margin-0"><strong>Lorem ipsou sd</strong></p>
                    <p class="margin-0"><strong>Sitemap</strong></p>
                </div>
            </div>
            <div class="footer-tab gap-05em flex column">
                <small class="margin-0 small">Company</small>
                <div class="tab-list flex column">
                    <p class="margin-0"><strong>About us</strong></p>
                    <p class="margin-0"><strong>Team</strong></p>
                    <p class="margin-0"><strong>Careers</strong></p>
                    <p class="margin-0"><strong>Lorem ipsou sd</strong></p>
                </div>
            </div>
            <div class="footer-tab gap-05em flex column">
                <small class="margin-0 small">Useful Links</small>
                <div class="tab-list flex column">
                    <p class="margin-0"><strong>Terms of Use</strong></p>
                    <p class="margin-0"><strong>Lorem ipsou sd</strong></p>
                    <p class="margin-0"><strong>Privacy Policy</strong></p>
                    <p class="margin-0"><strong>Applications Procedure</strong></p>
                </div>
            </div>
        </div>
        <div class="downloadsSites flex relative">
            <div class="sites flex column center-center">
                <small class="margin-0"><strong>DOWNLOAD OPERATIONS APP</strong></small>
                <img src="../../../assets/images/Hauwei-Badges.png" alt="">
                <img src="../../../assets/images/app-store-Badges.png" alt="">
            </div>
            <div class="flex column absolute follow-container">
                <small class="margin-0"><strong>FOLLOW US</strong></small>
                <div class="flex gap-05em a-center">
                    <img class="linkedInIcon" src="../../../assets/images/LInkedin-new-redesign.png" alt="">
                    <img class="xIcon" src="../../../assets/images/x.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="inner-footer flex a-center gap-1em">
        <small>TERMS & CONDITIONS</small>
        <small>COOKIE POLICY</small>
        <small>RANDBURG HOLDINGS</small>
        <div class="companyLogo flex a-center gap-05em">
                <small>&copy; 2024 All rights reserved. Randburg Holdings</small>
            <img src="../../../assets/images/neutrinos-logo.png" alt="">
        </div>
    </div>
</div>