.main-container {
    width: 830px;
    height: 400px;
}

.neutrinosLogo {
    height: 61px;
    margin-right: 20px;
}

.padding-20-0 {
    padding: 20px 0px;
}

.underline {
    height: 2px;
    background-color: #ced3d9;
}

.operation {
    margin-left: 20px;
}

.mat-menu {
    width: 91px !important;
}