.headerImg {
    height: 41px;
    z-index: 1;
    margin-top: 5px;
    padding: 3px;
    border-radius: 50%;
}

.addLeave {
    height: 30px !important;
}

canvas {
    height: 350px !important;
}

.canvasContainer {
    width: 70%;
}

.userIcon {
    z-index: 1;
    height: 58px !important;
}

.leavesHr {
    rotate: 90deg;
    width: 30px;
}

.footer {
    background-color: #ced3d9;
    z-index: 1;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 5px;
    width: 83%;

    .downloadsSites {
        padding-left: 2em;
        gap: 1.3em;

        .sites {
            gap: 5px;

            .linkedInIcon {
                margin-top: .6em;
                height: 24px !important;
            }
        }

        img {
            height: 33px;
            cursor: pointer;
        }

        .rights-container {
            margin-top: 7px;
            padding-bottom: 3px;
        }


    }

    .footer-content {
        width: 65%;
        padding-right: 5px;
        border-right: 1px dotted;

        .footer-tab {
            .tab-list {
                gap: 2px;
            }

            .small {
                font-size: 14px;
            }
        }
    }

    .companyLogo {
        height: 41px;
        right: 149px;
        bottom: 133px;
        margin-top: 5px;
    }
}

.underlineAnnual {
    width: 109px;
    height: 2px;
    background-color: black;
}

.underlineSick {
    width: 87px;
    height: 2px;
    background-color: black;
}

.leaveText {
    font-size: large;
}

.color-blue {
    color: #3f51b5;
}

.color-black {
    color: black;
}

.editIcon {
    width: 32px;
}

.guesthouseLogo {
    width: 100px;
}

.frame {
    height: 500px;
    margin-top: -44px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.flightLogo {
    width: 163px;
}

.operation {
    height: 160px;
    width: 200px;
    border: 1px solid #ced3d9;
}

.frameImg {
    height: 31px;
    left: 98px;
    bottom: 94px;
}

.timeContainer {
    background-color: black;
    top: 69px;
    left: 167px;
    // rotate: -1deg
    border-radius: 10px;
    height: 37px;
    width: 108px;
    color: white;
}

.frameTxt {
    width: 81px;
    text-align: center;
    top: 201px;
    left: 147px;
    font-size: 23px;
}

.operation:nth-child(3) {
    gap: 1.4em;
}

.landingLogo {
    width: 200px;
}

.domesticTransportLogo {
    width: 200px;
}

.mat-mdc-raised-button {
    height: 45px;
    width: 129px;
}

// 

.main-container {
    width: 93%;
}

.all {
    height: 169px;
    width: 238px;
    border: 1px solid #ced3d9;
}

.textAbs {
    bottom: 0;
}

.allKeyWord {
    background-color: black;
    color: white;
    padding: 1px 8px;
    border-radius: 7px;
    bottom: 5px;
    right: 5px;
}

.companyLeave h2 {
    top: calc(50% - 6px);
    right: calc(50% - 57px);
    font-size: x-large;
    color: #784d4d;
    z-index: 1;
}

.companyLeave img {
    height: 41px !important;
}

hr {
    top: 48%;
    right: -3%;
}

.visaLogo {
    height: 143px;
    margin-top: -20px
}

.title {
    padding: 2px;
    border-radius: 7px;
}

// Notifications panel

.notificationItem {
    height: 34px;
    border-radius: 7px;
    border: 1px solid;
    background-color: #5b80ba;
}

.notificationsIcon {
    left: 98px !important;
    top: 198px !important;
}

.notifications {
    position: absolute;
    left: 154px;
    top: 140px;
    z-index: 1;
    display: flex;
    border-radius: 7px;
    max-height: 244px;
    overflow-y: auto;
}

.notificationsCount {
    top: 196px;
    left: 133px;
    width: 15px;
    display: flex;
    justify-content: center;
    height: 16px;
    z-index: 1;
    font-weight: 500;
    padding: 2px;
    background-color: #3f51b5;
    border-radius: 50%;
    color: white;
}

.notificationItem {
    height: 34px;
    border-radius: 7px;
    border: 1px solid;
    padding: 0px 5px;
    background-color: #5b80ba;
}

.notificationsIcon {
    right: 2px;
    top: 68px;
}

.hide {
    display: none !important;
}

.notificationItem p:nth-child(2) {
    font-weight: 600;
}

// colors

.color-white {
    color: white;
}