<div class="main-container background-img-color relative flex column full-height">
    <div class="flex full-height relative">
        <div class="flex width-900 a-center space-around column">
            <!-- <div class="neutrios">
                <img class="world" src="../../../assets/images/complete.png" alt="">
            </div> -->
            <div class="highlights flex column gap-1em">
                <div class="flex">
                    <div class="headings flex column center-center gap-1em">
                        <h2 class="margin-0">Access leave</h2>
                        <p class="margin-0 text-center">Control how you want to use your leave days</p>
                    </div>
                    <div class="headings flex column center-center gap-1em">
                        <h2 class="margin-0">Manage visa</h2>
                        <p class="text-center margin-0">Apply for a new visa</p>
                    </div>
                    <div class="headings flex column center-center gap-1em">
                        <h2 class="margin-0">Safe and secure</h2>
                        <p class="text-center margin-0">Drop-offs/Pick-ups are attended by verified Neutrinos drivers
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer flex space-around a-center">
                <div class="flex gap-05em">
                    <img class="swipeUp" src="../../../assets/icons/swipe-up.svg" alt="">
                </div>
                <div class="flex gap-1em a-center">
                    <p class="margin-0 linkFont">Follow us on</p>
                    <img class="cursor" src="../../../assets/images/LInkedin-new-redesign.png" alt="">
                    <img class="cursor youtubeIcon" src="../../../assets/icons/youtube-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="z-index south-neutrinos flex gap-05em absolute center-center padding-10">
            <div class="flex">
                <img class="logo" src="../../../assets/images/neutrinos-logo.png" alt="Neutrinos Logo">
            </div>
            <img class="location" src="../../../assets/images/sa.png" alt="">
            <!-- Select Country -->
            <mat-select>
                <mat-option>
                </mat-option>
            </mat-select>
        </div>
        <div class="z-index form-container absolute width-430 j-center flex column gap-2em">
            <div class="flex">
                <form class="half-width flex column padding-10" [formGroup]="loginFormGroup">
                    <div class="flex column height-74">
                        <label for="email">Email Address</label>
                        <input class="input" formControlName="email" type="email" name="email"
                            placeholder="example@example.com">
                        <small *ngIf="loginFormGroup.get('email')?.hasError('pattern')" class="error-message margin-0">
                            Enter valid <strong>email</strong>
                        </small>
                        <small *ngIf="loginFormGroup.get('email')?.hasError('required')" class="error-message margin-0">
                            Email is <strong>required</strong>
                        </small>
                    </div>
                    <!-- Password -->
                    <div class="flex column height-74">
                        <label for="password">Password</label>
                        <input class="input" formControlName="password" type="password" name="password"
                            placeholder="***">
                        <small *ngIf="loginFormGroup.get('password')?.hasError('required')"
                            class="error-message margin-0">
                            Enter a valid <strong>password</strong>
                        </small>
                    </div>
                    <div class="flex margin-top column gap-05em">
                        <div class="buttonCancel cursor flex center-center">
                            <p class="margin-0">Cancel</p>
                        </div>
                        <div (click)="submit()" class="buttonSubmit cursor flex center-center">
                            <p class="margin-0">Submit</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="z-index more-container flex absolute a-center gap-1em">
            <p class="downloadPdf margin-0">WHAT DO YOU NEED TO KNOW ABOUT OUR OPERATIONS APP
                <sup class="cursor padding-left-5" style="color: #0062e1;">DOWNLOAD PDF</sup>
            </p>
            <div class="downloads know-more flex gap-1em j-center">
                <img src="../../../assets/images/Google.png"
                    alt="Download google application not available coming soon">
                <img src="../../../assets/images/app-store-Badges.png"
                    alt="Download apple application not available coming soon">
            </div>
            <!-- <div class="downloads flex j-center">
                <img src="../../../assets/images/Hauwei-Badges.png"
                    alt="Download huawei application not available coming soon">
            </div> -->
        </div>
    </div>
    <img id="neutrinosBackgroundImg" class="absolute neutrinosBackgroundImg" src="../../../assets/images/neutrinos.webp"
        alt="">
</div>