<div class="main-container background-img-color relative flex column full-height">
    <div class="flex full-height relative">
        <div class="flex width-900 a-center space-around column">
            <div class="footer flex space-around a-center">
                <div class="flex gap-05em">
                    <img class="swipeUp" src="../../../assets/icons/swipe-up.svg" alt="">
                </div>
                <div class="flex gap-1em a-center">
                    <p class="margin-0 linkFont">Follow us on</p>
                    <img class="cursor" src="../../../assets/images/LInkedin-new-redesign.png" alt="">
                    <img class="cursor youtubeIcon" src="../../../assets/icons/youtube-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="z-index south-neutrinos flex gap-05em absolute center-center padding-10">
            <div class="flex">
                <img class="logo" src="../../../assets/images/neutrinos-logo.png" alt="Neutrinos Logo">
            </div>
            <img class="location" src="../../../assets/images/sa.png" alt="">
            <!-- Select Country -->
            <mat-select>
                <mat-option>
                </mat-option>
            </mat-select>
        </div>
        <div class="z-index form-container absolute width-430 j-center flex column gap-2em">
            <div class="flex">
                <form class="form flex column padding-10" [formGroup]="loginFormGroup">
                    <h2 class="form-p margin-0 text-center">Neutrinos Operations Platform</h2>
                    <!-- Email -->
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Email Address">
                        <mat-error *ngIf="loginFormGroup.get('email')?.hasError('pattern')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="loginFormGroup.get('email')?.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- Password -->
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">
                            Enter a valid <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="flex column gap-05em">
                        <div class="buttonCancel cursor flex center-center">
                            <p class="margin-0">Cancel</p>
                        </div>
                        <div (click)="submit()" class="buttonSubmit cursor flex center-center">
                            <p class="margin-0">Submit</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="z-index more-container flex absolute a-center gap-1em">
            <p class="downloadPdf margin-0">WHAT DO YOU NEED TO KNOW ABOUT OUR OPERATIONS APP
                <sup class="cursor padding-left-5" style="color: #0062e1;">DOWNLOAD PDF</sup>
            </p>
            <div class="downloads know-more flex j-center">
                <img src="../../../assets/images/Google.png"
                    alt="Download google application not available coming soon">
                <img src="../../../assets/images/app-store-Badges.png"
                    alt="Download apple application not available coming soon">
            </div>
            <!-- <div class="downloads flex j-center">
                <img src="../../../assets/images/Hauwei-Badges.png"
                    alt="Download huawei application not available coming soon">
            </div> -->
        </div>
    </div>
    <img id="neutrinosBackgroundImg" class="absolute neutrinosBackgroundImg" src="../../../assets/images/neutrinos.webp"
        alt="">
</div>