.logo {
    height: 60px;
}

.frame {
    height: 170px;
    ;
}

.width-30 {
    width: 30%;
}

.login {
    width: 30px;
}

.mat-mdc-select {
    width: 0 !important;
}

.world {
    height: 355px;
    margin-top: -5px;
}

.headings {
    width: 250px;
    height: 150px;
    padding: 8px;
    border: 1px solid white;
    cursor: pointer;
}

.headings p {
    font-size: larger;
    font-weight: 100;
}

.logo-container {
    margin-top: 3em;
}

.neutrios {
    height: 355px;
    background-image: "../../../assets/images/change.png";
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-left-5 {
    padding-left: 5px;
}

.downloads img {
    width: 155px;
    cursor: pointer;
}

.downloadPdf {
    // color: #325a8d;
    font-size: x-large;
}

.loginTitle {
    font-weight: 500;
    font-size: 31px;
}

.location {
    width: 45px;
    height: 45px;
}

.swipeUp {
    height: 44px;
}

.highlights:hover {
    .highlightTag {
        display: flex !important;
        color: red;
    }
}

.linkFont {
    font-weight: 500;
}

.youtubeIcon {
    height: 47px;
}

.footer {
    width: 100%;
    padding: 0px 15px;
}

.headings h2 {
    font-weight: 300;
    text-align: center;
    font-size: 34px;
}

.headings:nth-child(1) {
    background-color: #005cbf;
    color: white;
}

.headings:nth-child(2) {
    background-color: white;
}

.headings:nth-child(3) {
    background-color: #005cbf;
    color: white;
}

.width-900 {
    width: 900px;
}

.width-430 {
    width: 430px;
}