.main-container {

    padding-top: 1.5em;

    hr, .operation, .chart-container {
        width: 85%;
    }

    .operation {
        padding-bottom: 1.5em;

        .tableTitle {
            font-size: 19px;
        }
    }

    .graph-container {
        height: 270px;
    }
}