<div *ngIf="showMainContainer" class="flex column full-width">
    <mat-card class="full-width">
        <div class="flex column full-width padding-10">
            <div class="flex a-end">
                <p (click)="remindLater()" class="remindMeText margin-0 cursor"><strong>Remind me later</strong></p>
            </div>
            <hr class="full-width">
            <form class="full-width" [formGroup]="createPassword">
                <!-- Default -->
                <mat-form-field class="full-width">
                    <mat-label>Default Password</mat-label>
                    <input type="password" formControlName="defaultPassword" matInput>
                </mat-form-field>
                <!-- New Password -->
                <mat-form-field class="full-width">
                    <mat-label>New Password</mat-label>
                    <input type="password" formControlName="newPassword" matInput placeholder="***">
                    <mat-error *ngIf="createPassword.get('newPassword')?.hasError('required')">
                        Password field is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <!-- Confirm Password -->
                <mat-form-field class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" formControlName="confirmPassword" matInput placeholder="***">
                    <mat-error *ngIf="createPassword.get('confirmPassword')?.hasError('required')">
                        Password field is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="flex center-center">
                    <button class="flex-1" mat-raised-button color="primary" (click)="submit()">Submit</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>