.header img {
    height: 41px;
    z-index: 1;
    margin-top: 5px;    
    padding: 3px;
    background-color: #ced3d9;
    border-radius: 50%;
}

.addLeave {
    height: 30px !important;
}

.userIcon {
    z-index: 1;
    height: 58px !important;
}

.leavesHr {
    rotate: 90deg;
    width: 30px;
}

.no-border-radius {
    border-radius: 0px 0px !important;
}

footer {
    color: #325a8d;
}

.neutrinosMarquee {
    background-color: #ced3d9;
    width: 45%;
    height: 51px;
    z-index: 1;
}

.underlineAnnual {
    width: 109px;
    height: 2px;
    background-color: black;
}

.underlineSick {
    width: 87px;
    height: 2px;
    background-color: black;
}

.leaveText {
    font-size: large;
}

.color-blue {
    color: #3f51b5;
} 

.hide {
    display: none !important;
}

.notificationsCount {
    top: 65px;
    right: 1px;
    width: 15px;
    display: flex;
    justify-content: center;
    height: 16px;
    z-index: 1;
    font-weight: 500;
    padding: 2px;
    background-color: #3f51b5;
    border-radius: 50%;
    color: white;
}

.status {
    width: 40px;
    top: 0;
    right: 44px;
}

.color-declined {
   background-color: '#f44336';
}

.color-accepted {
   background-color: '#f44336';
}

.status p {
    padding: 1px;
    border-radius: 7px;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.footer {
    // color: #325a8d;
    width: 740px;;
}

.editIcon {
    width: 32px;
}

.footer p {
    font-size: 16px;
}

.footer {
    border-radius: 10px;
    // background-color: #ced3d9;
}
.guesthouseLogo {
    width: 100px;
}

.frame {
    height: 500px;
    margin-top: -44px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.visaLogo {
    height: 124px;
}

.flightLogo {
    width: 163px;
}

.operation {
    height: 160px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #ced3d9;
}
 
.notifications {
    position: absolute;
    right: 65px;
    top: 84px;  
    width: 252px;
    z-index: 1;
    display: flex;
    background-color: #ced3d9;
    border-radius: 7px;
    max-height: 244px;
    overflow-y: auto;
}

.notificationsIcon {
    right: 2px;
    top: 68px;
}

.notificationItem {
    height: 34px;
    border-radius: 7px;
    border: 1px solid;
    padding: 0px 5px;
    background-color: #5b80ba;
}

.notificationItem hr {
    height: 19px;
}

.margin-top-5 {
    margin-top: 12px;
}

.frameImg {
    height: 31px;
    left: 98px;
    bottom: 94px;
}

.timeContainer {
    // background-color: #ced3d9;
    top: 69px;
    left: 174px;
    rotate: -0.1deg;
    border-radius: 10px;
    height: 37px;
    padding: 1px;
    color: black;
}

.frameTxt {
    width: 81px;
    text-align: center;
    top: 201px;
    left: 147px;
    font-size: 23px;
}

.operation:nth-child(3) {
    gap: 1.4em;
}

.landingLogo {
    width: 200px;
}

.domesticTransportLogo {
    width: 200px;
}

.mat-mdc-raised-button {
    height: 45px;
    width: 129px;
}