$project-blue: #3f51b5;

.headerImg {
    height: 41px;
    z-index: 1;
    margin-top: 5px;
    padding: 3px;
    background-color: #ced3d9;
    border-radius: 50%;
}

.actionsSummary {
    background-color: white !important;

}

.addLeave {
    height: 30px !important;
}

.userIcon {
    z-index: 1;
    height: 58px !important;
}

.leavesHr {
    rotate: 90deg;
    width: 30px;
}

.no-border-radius {
    border-radius: 0px 0px !important;
}

footer {
    color: #325a8d;
}

.main-container {

    // .account-container {
    //     // right: 0;
    // }

    .inner-container {
        padding-right: 3em;
    }

    .actions-summary-container {
        width: 700px;
    }

    .neutrinosMarquee {
        // background-color: ghostwhite;
        height: 163px;
        padding-left: 4px;
        z-index: 1;

        .mat-card {
            height: 147px;
            width: 200px;
        }
    }

    .sidenav-container {
        height: 172px;
        overflow-y: auto;

        .operation-summary {
            gap: .2em;

            &:hover {
                color: $project-blue;
            }
        }
    }
}

.underlineAnnual {
    width: 109px;
    height: 2px;
    background-color: black;
}

.underlineSick {
    width: 87px;
    height: 2px;
    background-color: black;
}

.leaveText {
    font-size: large;
}

.color-blue {
    color: #3f51b5;
}

.hide {
    display: none !important;
}

.notificationsCount {
    top: -143px;
    right: 0;
    width: 15px;
    display: flex;
    justify-content: center;
    height: 16px;
    z-index: 1;
    font-weight: 500;
    padding: 2px;
    background-color: #3f51b5;
    border-radius: 50%;
    color: white;
}

.status {
    width: 40px;
    top: 0;
    right: 44px;
}

.color-declined {
    background-color: '#f44336';
}

.color-accepted {
    background-color: '#f44336';
}

.status p {
    padding: 1px;
    border-radius: 7px;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.footer {
    // color: #325a8d;
    width: 740px;
    ;
}

.editIcon {
    width: 32px;
}

.footer p {
    font-size: 16px;
}

.footer {
    border-radius: 10px;
    // background-color: #ced3d9;
}

.guesthouseLogo {
    width: 100px;
}

.frame {
    height: 415px;
    margin-top: -10px;
    right: 0;
    bottom: 0;
}

.frameImg {
    height: 31px;
    left: calc(70% + 122px);
    bottom: 58px;
}

.frameTxt {
    width: 81px;
    text-align: center;
    font-size: 23px;
    left: calc(80% + 38px);
    top: calc(50% + 56px);
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.visaLogo {
    height: 124px;
}

.flightLogo {
    width: 163px;
}

.operation {
    height: 166px;
    width: 232px;
    position: relative;
    justify-content: center;
    border-radius: 7px;
    border: 1px solid #ced3d9;
}

.operation img {
    margin-top: -7px;
}

.loud-speaker {
    width: 33px;
}

.notiHeader {
    margin-bottom: 4px;
}

.actionContainer {
    gap: 3px;
    width: 180px;
}

.summarySpeaker {
    top: -5px;
    left: -13px;
    z-index: 1;
}

.actions-container {
    margin-top: 5px;
    max-height: 80px;
    overflow-y: auto;
}

.summaryP {
    margin-top: -4px;
}

.actionContainer:hover {
    cursor: pointer;
}

.notifications {
    position: absolute;
    right: 3px;
    top: 229px;
    padding: 10px;
    background-color: #ced3d9;
    width: 252px;
    z-index: 1;
    display: flex;
    border-radius: 7px;
    max-height: 244px;
    overflow-y: auto;
}

.notificationsIcon {
    right: 0;
    bottom: -143px;
}

.notificationItem {
    height: 34px;
    border-radius: 7px;
    border: 1px solid;
    background-color: #5b80ba;
}

.notificationItem hr {
    height: 19px;
}

.margin-top-5 {
    margin-top: 12px;
}

.timeContainer {
    // background-color: #ced3d9;
    bottom: 310px;
    right: 114px;
    rotate: -0.1deg;
    border-radius: 10px;
    height: 37px;
    padding: 1px;
    color: black;
}

.operation:nth-child(3) {
    gap: 1.4em;
}

.landingLogo {
    height: 133px;
}

.domesticTransportLogo {
    width: 200px;
}

.mat-mdc-raised-button {
    height: 45px;
    width: 129px;
}

.visaApp {
    bottom: 3px;
    right: calc(50% - 59px);
}

.visaExt {
    bottom: 3px;
    right: calc(50% - 59px);
}

.internationalTravel {
    bottom: 3px;
    right: calc(50% - 60px);
}

.flightInfo {
    bottom: 3px;
    right: calc(50% - 60px);
}

.guesthouseService {
    bottom: 3px;
    right: calc(50% - 68px);
}

.domesticTravel {
    bottom: 3px;
    right: calc(50% - 59px);
}

.operation {
    height: 180px;
    width: 233px;
    border-radius: 7px;
}

.policy {
    height: 40px;
}

.policyTitle {
    height: 17px;
}

.underline {
    height: 12px;
    border-radius: 7px;
    background-color: #ced3d9;
}

.policyContainer {
    display: flex;
    gap: 0.5em;
    overflow-x: auto;
    width: 746px;
}

.signature {
    height: 204px;
}

// .operation h2 {
//     color: #151555;
// }

.policyContent {
    background-color: ghostwhite;
    border-radius: 10px;
}

.backBtn {
    height: 35px;
    margin-left: 34px;
}

.summaryLine {
    height: 1.5px;
    width: 140px;
    background-color: #3f51b5;
    margin-bottom: 5px;
}

.showNotifications {
    height: 250px;
    width: 10px;
    background-color: #ced3d9;
    top: calc(50% - 73px);
    right: 7px;
    border-radius: 7px;
}