<div class="full-height column full-width flex">
    <div class="flex a-center space-around full-width">
        <h1 class="operationTitle margin-0">Guesthouse Service</h1>
        <img (click)="goBack()" title="Go Back" class="backIcon cursor"
            src="../../../assets/icons/close_icon.svg" alt="Go back button">
    </div>
    <form class="visaExtension full-width gap-1em a-center" #guesthouseServiceForm="ngForm">
        <div class="flex space-between">
            <!-- Full Name -->
            <mat-form-field class="width-45">
                <mat-label>Full Name</mat-label>
                <input type="text" name="fullName" disabled [(ngModel)]="guesthouseServiceFormData.fullName" matInput>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field class="width-45">
                <mat-label>Email</mat-label>
                <input type="email" name="email" disabled [(ngModel)]="guesthouseServiceFormData.email" matInput>
            </mat-form-field>
        </div>
        <div class="flex space-between">
            <!-- Phone Number -->
            <mat-form-field class="width-45">
                <mat-label>Phone Number</mat-label>
                <input type="text" name="phoneNo" disabled [(ngModel)]="guesthouseServiceFormData.phoneNo" matInput>
            </mat-form-field>
            <!-- Problem -->
            <mat-form-field class="width-45">
                <mat-label>What is the problem?</mat-label>
                <input type="text" name="problem" name="problem" #problem="ngModel" required
                    [(ngModel)]="guesthouseServiceFormData.problem" matInput>
                <mat-error *ngIf="problem.invalid && problem.errors && problem.errors['required']">
                    Please fill in required information
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex space-between">
            <!-- Other GuestHouse -->
            <mat-form-field class="width-45">
                <mat-label>Other GuestHouse</mat-label>
                <input type="text" name="otherGuesthouse" name="otherGuesthouse" #otherGuesthouse="ngModel" required
                    [(ngModel)]="guesthouseServiceFormData.otherGuesthouse" matInput>
                <mat-error *ngIf="otherGuesthouse.invalid && otherGuesthouse.errors && otherGuesthouse.errors['required']">
                    Please fill in required information
                </mat-error>
            </mat-form-field>
            <!-- Renewal Date -->
            <mat-form-field appearance="fill" class="width-45">
                <mat-label><small>When would you like the problem resolved?</small></mat-label>
                <input matInput [matDatepicker]="picker2" required name="addressProblemDate" #addressProblemDate="ngModel"
                    [(ngModel)]="guesthouseServiceFormData.addressProblemDate" (focus)="picker2.open()">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="addressProblemDate.invalid && addressProblemDate.errors && addressProblemDate.errors['required']">
                    Please fill in required information
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex space-between a-center">
            <!-- Additional Information -->
            <mat-form-field class="width-45">
                <mat-label>Anything else you would like us to know?</mat-label>
                <input type="text" name="additionalInfo" name="additionalInfo" #additionalInfo="ngModel" required
                    [(ngModel)]="guesthouseServiceFormData.additionalInfo" matInput>
                <mat-error *ngIf="additionalInfo.invalid && additionalInfo.errors && additionalInfo.errors['required']">
                    Please fill in required information
                </mat-error>
            </mat-form-field>
            <div class="flex gap-1em">
                <button class="flex-1 submitBtn" mat-raised-button color="primary" [disabled]="guesthouseServiceForm.invalid"
                    (click)="submit()">Submit</button>
            </div>
        </div>
    </form>
</div>