.mat-mdc-tab-group {
    width: 755px !important;
    max-height: 416px;
    overflow-y: auto;
}

.overflow-y {
    overflow-y: auto;
}

.mat-menu {
    width: 91px !important;
}

.backIcon {
    height: 32px;
    right: 0;
    top: calc(88%);
    left: 66px;
    z-index: 1;
}