mat-card h1 {
    font-size: 22px;
}

.profileLogo {
    height: 110px;
}

.leaveText {
    font-size: large;
}

.left {
    width: 290px;
}

.backIcon {
    height: 26px;
    bottom: 0;
    right: 6px;
}

.leaveInfoTitle {
    border-radius: 7px;
    padding: 1px;
    background-color: #ced3d9;
}

.color-blue {
    color: #3f51b5;
}

.color-black {
    color: black;
}