.operationTitle {
    font-size: 22px;
}

.operationIcon {
    height: 19px;
}

.mat-mdc-raised-button {
    height: 45px;
    width: 140px;
}

.backIcon {
    height: 32px;
}

.main-container {
    width: 457px;
}

.inner-container {
    height: 478px;
}