.operationTitle {
    font-size: 22px;
}

.operationIcon {
    height: 19px;
}

.visaExtension {
    height: 308px;
}

.mat-mdc-raised-button {
    height: 45px;
    width: 140px;
}

.backIcon {
    height: 32px;
}