$policy-text-color: blue;

hr {
    top: 38%;
    right: -3%;
}

.container {
    background-color: #b2b2b2;
    padding-right: 8px;
}

.leaveType {
    font-weight: 400;
    font-size: 22px;
}

.container h1 {
    font-weight: 400;
}

.type {
    font-size: 22px;
}

.main-container {
    .title {
        font-size: 24px;
    }

    .form {
        color: $policy-text-color;

        &:hover {
            text-decoration: underline solid black;
        }
    }
}

.color-black {
    color: black;
}