<div class="half width">
    <mat-card class="full-width padding-10">
        <div class="main-container flex column gap-1em">
            <p class="title margin-0"><strong>Leave application</strong></p>
            <hr class="full-width">
            <form [formGroup]="leaveFormGroup" class="flex column gap-1em">
                <div class="flex column full-width">
                    <div class="flex gap-05em a-center">
                        <h2 class="margin-0 leaveType">Type of leave application:</h2>
                        <section>
                            <mat-button-toggle-group formControlName="leaveType" aria-label="Font Style">
                                <mat-button-toggle value="sick">Sick</mat-button-toggle>
                                <mat-button-toggle value="annual">Annual</mat-button-toggle>
                            </mat-button-toggle-group>
                        </section>
                    </div>
                </div>
                <div class="full-width flex gap-1em">
                    <!-- Leave Start Date -->
                    <mat-form-field appearance="fill" class="flex-1">
                        <mat-label>Leave Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="todayDate" formControlName="dateStartLeave" (focus)="picker.open()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                            Please fill in information
                        </mat-error>
                    </mat-form-field>
                    <!-- Leave End Date -->
                    <mat-form-field appearance="fill" class="flex-1">
                        <mat-label>Leave End Date</mat-label>
                        <input matInput [matDatepicker]="pickerLeaveEndDate" [min]="todayDate" formControlName="dateEndLeave" (focus)="pickerLeaveEndDate.open()">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerLeaveEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerLeaveEndDate></mat-datepicker>
                        <mat-error>
                            Please fill in information
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex space-around a-center">
                    <p  class="cursor margin-0">By continuing, you accept <span class="form color-black">{{leaveFormGroup.get('leaveType')?.value | titlecase}} Leave Policy</span></p>
                    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>