.companyLeave img {
    height: 41px !important;
}

hr {
    top: 38%;
    right: -3%;
}

.container {
    background-color: #b2b2b2;
    padding-right: 8px;
}

.leaveType {
    font-weight: 400;
    font-size: 22px;
}

.container h1 {
    font-weight: 400;
}

.type {
    font-size: 22px;
}

.companyLeave h2 {
    top: calc(50% - 12px);
    right: calc(50% - 46px);
    font-size: x-large;
    color: #fdf9f9;
    z-index: 1;
}
