.operationTitle {
    font-size: 22px;
}

.operationIcon {
    height: 19px;
}

.mat-mdc-raised-button {
    height: 45px;
    width: 140px;
}

.credentialsHeading {
    font-size: 17px;
}

.domesticTravel {
    max-height: 300px;
    overflow-y: auto;
}

.backIcon {
    height: 32px;
}