<div class="full-height column full-width flex">
    <div class="flex a-center space-around full-width">
        <h1 class="operationTitle margin-0">Domestic Travel</h1>
        <img (click)="goBack()" title="Go Back" class="backIcon cursor" src="../../../assets/icons/close_icon.svg"
            alt="Go back button">
    </div>
    <form class="domesticTravel full-width gap-1em a-center" #domesticTravelForm="ngForm">
        <!-- Employee Credentials -->
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Employee Credentials</mat-label>
            <mat-select>
                <mat-option class="full-width">
                    <form class="full-width gap-1em a-center" #employeeCredentialsForm="ngForm">
                        <div class="flex space-between">
                            <!-- Name -->
                            <mat-form-field class="width-45">
                                <mat-label>Name</mat-label>
                                <input type="text" name="name" disabled [(ngModel)]="employeeCredentialsFormData.name"
                                    matInput>
                            </mat-form-field>
                            <!-- Surname -->
                            <mat-form-field class="width-45">
                                <mat-label>Surname</mat-label>
                                <input type="text" name="surname" disabled
                                    [(ngModel)]="employeeCredentialsFormData.surname" matInput>
                            </mat-form-field>
                        </div>
                        <div class="flex space-between">
                            <!-- Manager Name -->
                            <mat-form-field class="width-45">
                                <mat-label>Manager Name</mat-label>
                                <input type="text" name="managerName" disabled
                                    [(ngModel)]="employeeCredentialsFormData.managerName" matInput>
                            </mat-form-field>
                            <!-- Manager Email -->
                            <mat-form-field class="width-45">
                                <mat-label>Manager Email</mat-label>
                                <input type="text" name="managerEmail" disabled
                                    [(ngModel)]="employeeCredentialsFormData.managerEmail" matInput>
                            </mat-form-field>
                        </div>
                        <div class="flex space-between">
                            <!-- Email -->
                            <mat-form-field class="width-45">
                                <mat-label>Email</mat-label>
                                <input type="email" name="email" disabled
                                    [(ngModel)]="employeeCredentialsFormData.email" matInput>
                            </mat-form-field>
                            <!-- Phone Number -->
                            <mat-form-field class="width-45">
                                <mat-label>Phone Number</mat-label>
                                <input type="text" name="phoneNo" disabled
                                    [(ngModel)]="employeeCredentialsFormData.phoneNo" matInput>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="flex gap-1em">
            <!-- Date of Request -->
            <mat-form-field appearance="fill" class="width-31">
                <mat-label>Date of Request</mat-label>
                <input matInput [matDatepicker]="picker2" required name="dateOfRequest" #dateOfRequest="ngModel"
                    [(ngModel)]="domesticTravelFormData.dateOfRequest" (focus)="picker2.open()">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="dateOfRequest.invalid && dateOfRequest.errors && dateOfRequest.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
            <!-- Confirmed Travel Date -->
            <mat-form-field appearance="fill" class="width-31">
                <mat-label>Confirmed Travel Date</mat-label>
                <input matInput [matDatepicker]="picker3" [min]="todayDate" required name="confirmedTravelDate"
                    #confirmedTravelDate="ngModel" [(ngModel)]="domesticTravelFormData.confirmedTravelDate"
                    (focus)="picker3.open()">
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error
                    *ngIf="confirmedTravelDate.invalid && confirmedTravelDate.errors && confirmedTravelDate.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
            <!-- Preffered Travel Time -->
            <mat-form-field class="width-31">
                <mat-label>Preffered Travel Time</mat-label>
                <input type="time" matInput placeholder="08:00" required
                    [(ngModel)]="domesticTravelFormData.preffedTravelTime" name="preffedTravelTime"
                    #preffedTravelTime="ngModel">
                <mat-error
                    *ngIf="preffedTravelTime.invalid && preffedTravelTime.errors && preffedTravelTime.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-1em a-center">
            <!-- Confirmed Return Date -->
            <mat-form-field appearance="fill" class="width-31">
                <mat-label>Confirmed Return Date</mat-label>
                <input matInput [matDatepicker]="pickerReturnDate" [min]="todayDate" required name="confirmedReturnDate"
                    #confirmedReturnDate="ngModel" [(ngModel)]="domesticTravelFormData.confirmedReturnDate"
                    (focus)="pickerReturnDate.open()">
                <mat-datepicker-toggle matIconSuffix [for]="pickerReturnDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerReturnDate></mat-datepicker>
                <mat-error
                    *ngIf="confirmedReturnDate.invalid && confirmedReturnDate.errors && confirmedReturnDate.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
            <!-- Preffered Return Time -->
            <mat-form-field class="width-31">
                <mat-label>Preffered Return Time</mat-label>
                <input type="time" matInput placeholder="08:00" required
                    [(ngModel)]="domesticTravelFormData.preffedReturnTime" name="preffedReturnTime"
                    #preffedReturnTime="ngModel">
                <mat-error
                    *ngIf="preffedReturnTime.invalid && preffedReturnTime.errors && preffedReturnTime.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
            <!-- Customer Name -->
            <mat-form-field class="width-31">
                <mat-label>Customer Name</mat-label>
                <input type="text" name="customerName" required #customerName="ngModel"
                    [(ngModel)]="domesticTravelFormData.customerName" matInput>
                <mat-error *ngIf="customerName.invalid && customerName.errors && customerName.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-1em">
            <!-- Project Name -->
            <mat-form-field class="width-31">
                <mat-label>Project Name</mat-label>
                <input type="text" name="projectName" required #projectName="ngModel"
                    [(ngModel)]="domesticTravelFormData.projectName" matInput>
                <mat-error *ngIf="projectName.invalid && projectName.errors && projectName.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
            <!-- Currensy -->
            <mat-form-field class="width-31">
                <mat-label>Currensy</mat-label>
                <mat-select name="currensy" #currensy="ngModel" [(ngModel)]="domesticTravelFormData.currensy">
                    <mat-option *ngFor="let _currensy of currensies" [value]="_currensy">{{_currensy | titlecase}}</mat-option>
                </mat-select>
                <mat-error *ngIf="currensy.invalid && currensy.errors && currensy.errors['required']">
                    <small>Please fill in required information</small>
                </mat-error>
            </mat-form-field>
            <!-- Travel Days -->
            <mat-form-field class="width-31">
                <mat-label>Travel Days</mat-label>
                <input type="number" name="travelDays" #travelDays="ngModel" placeholder="No. days traveling"
                    [(ngModel)]="domesticTravelFormData.travelDays" matInput>
            </mat-form-field>
        </div>
        <div class="flex gap-1em">
            <!-- Travel Amount/day -->
            <mat-form-field class="width-31">
                <mat-label>Travel Amount/day</mat-label>
                <input type="text" name="travelAmtPerDay" #travelAmtPerDay="ngModel" placeholder="R2 410"
                    [(ngModel)]="domesticTravelFormData.travelAmtPerDay" matInput>
            </mat-form-field>
            <!-- Full Amount -->
            <mat-form-field class="width-31">
                <mat-label>Full Travel Amount</mat-label>
                <input type="text" name="fullAmt" #fullAmt="ngModel" placeholder="R6 200"
                    [(ngModel)]="domesticTravelFormData.fullAmt" matInput>
            </mat-form-field>
            <!-- Remarks -->
            <mat-form-field class="width-31">
                <mat-label>Remarks</mat-label>
                <input type="text" name="comment" #comment="ngModel" placeholder="Comment"
                    [(ngModel)]="domesticTravelFormData.comment" matInput>
            </mat-form-field>
        </div>
        <div class="flex center-center">
            <div class="flex gap-1em">
                <button class="flex-1 submitBtn" mat-raised-button color="primary" [disabled]="domesticTravelForm.invalid"
                    (click)="submit()">Submit</button>
            </div>
        </div>
    </form>
</div>