/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$project-blue: #3f51b5;

// flex
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.j-end {
    justify-content: flex-end;
}

.z-index {
    z-index: 1;
}

// spaces

.absolute {
    position: absolute;
}

.padding-4em {
    padding: 4em 4em 0em 4em;
}

.p-t-5em {
    padding-top: 5em;
}

.relative {
    position: relative;
}

.border-box {
    box-sizing: border-box;
}

.wrap {
    flex-wrap: wrap;
}

.margin-0 {
    margin: 0;
}

.full-height,
app-visa-extension,
app-flight-information,
app-guesthouse-service,
app-international-travel,
app-domestic-travel,
app-visa-application,
app-leaves,
app-visas {
    width: 100%;
}

.half-width {
    width: 50%;
}

.full-width,
app-graph,
app-footer {
    width: 100%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

app-change-password {
    width: 20%;
    left: calc(60%);
    bottom: 6px;
}

.width-96 {
    width: 96%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-45 {
    width: 45%;
}

.width-40 {
    width: 40%;
}

.width-55 {
    width: 55%;
}

.width-30 {
    width: 30%;
}

.width-31 {
    width: 31%;
}

.width-32 {
    width: 32%;
}

.width-34 {
    width: 34%;
}

.gap-1em {
    gap: 1em;
}

.gap-05em {
    gap: .5em;
}

.gap-2em {
    gap: 2em;
}

.gap-3em {
    gap: 3em;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-2 {
    padding: 2px;
}

// fonts

.text-center {
    text-align: center;
}

.mdc-card {
    flex-direction: row !important;
}

.cursor {
    cursor: pointer;
}

// Angular material



.mat-mdc-text-field-wrapper {
    height: 46px !important;
    align-items: center !important;
}

// .mat-mdc-form-field-bottom-align {
//     display: flex !important;
//     height: 0px !important;
// }

.mat-mdc-tab-body-content {
    display: flex !important;
    overflow: hidden !important;
    gap: 1em;
    flex-wrap: wrap;
    height: auto !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    width: 95% !important;
    padding: 0 !important;
}

.mat-expansion-panel-body {
    padding: 0px !important;
}